{
  "swagger": "2.0",
  "host": "quay-jmfdr.apps.cluster-jmfdr.jmfdr.sandbox2884.opentlc.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "info": {
    "version": "v1",
    "title": "Quay Frontend",
    "description": "This API allows you to perform many of the operations required to work with Quay repositories, users, and organizations. You can find out more at <a href=\"https://quay.io\">Quay</a>.",
    "termsOfService": "https://quay.io/tos",
    "contact": {
      "email": "support@quay.io"
    }
  },
  "securityDefinitions": {
    "oauth2_implicit": {
      "type": "oauth2",
      "flow": "implicit",
      "authorizationUrl": "https://quay-jmfdr.apps.cluster-jmfdr.jmfdr.sandbox2884.opentlc.com/oauth/authorize",
      "scopes": {
        "repo:read": "This application will be able to view and pull all repositories visible to the granting user or robot account",
        "repo:write": "This application will be able to view, push and pull to all repositories to which the granting user or robot account has write access",
        "repo:admin": "This application will have administrator access to all repositories to which the granting user or robot account has access",
        "repo:create": "This application will be able to create repositories in to any namespaces that the granting user or robot account is allowed to create repositories",
        "user:read": "This application will be able to read user information such as username and email address.",
        "org:admin": "This application will be able to administer your organizations including creating robots, creating teams, adjusting team membership, and changing billing settings. You should have absolute trust in the requesting application before granting this permission.",
        "super:user": "This application will be able to administer your installation including managing users, managing organizations and other features found in the superuser panel. You should have absolute trust in the requesting application before granting this permission.",
        "user:admin": "This application will be able to administer your account including creating robots and granting them permissions to your repositories. You should have absolute trust in the requesting application before granting this permission."
      }
    }
  },
  "paths": {
    "/api/v1/user/apptoken": {
      "x-name": "endpoints.api.appspecifictokens.AppTokens",
      "x-path": "/api/v1/user/apptoken",
      "x-tag": "appspecifictokens",
      "post": {
        "operationId": "createAppToken",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Request body contents.",
            "schema": {
              "$ref": "#/definitions/NewToken"
            }
          }
        ],
        "description": "Create a new app specific token for user.",
        "tags": [
          "appspecifictokens"
        ],
        "security": [
          {
            "oauth2_implicit": [
              "user:admin"
            ]
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "201": {
            "description": "Successful creation"
          }
        }
      },
      "get": {
        "operationId": "listAppTokens",
        "parameters": [
          {
            "name": "expiring",
            "in": "query",
            "required": false,
            "description": "If true, only returns those tokens expiring soon",
            "type": "boolean"
          }
        ],
        "description": "Lists the app specific tokens for the user.",
        "tags": [
          "appspecifictokens"
        ],
        "security": [
          {
            "oauth2_implicit": [
              "user:admin"
            ]
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "200": {
            "description": "Successful invocation"
          }
        }
      }
    },
    "/api/v1/user/apptoken/{token_uuid}": {
      "x-name": "endpoints.api.appspecifictokens.AppToken",
      "x-path": "/api/v1/user/apptoken/{token_uuid}",
      "x-tag": "appspecifictokens",
      "parameters": [
        {
          "name": "token_uuid",
          "in": "path",
          "required": true,
          "description": "The uuid of the app specific token",
          "type": "string"
        }
      ],
      "delete": {
        "operationId": "revokeAppToken",
        "parameters": [
          {
            "name": "token_uuid",
            "in": "path",
            "required": true,
            "description": "The uuid of the app specific token",
            "type": "string"
          }
        ],
        "description": "Revokes a specific app token for the user.",
        "tags": [
          "appspecifictokens"
        ],
        "security": [
          {
            "oauth2_implicit": [
              "user:admin"
            ]
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "204": {
            "description": "Deleted"
          }
        }
      },
      "get": {
        "operationId": "getAppToken",
        "parameters": [
          {
            "name": "token_uuid",
            "in": "path",
            "required": true,
            "description": "The uuid of the app specific token",
            "type": "string"
          }
        ],
        "description": "Returns a specific app token for the user.",
        "tags": [
          "appspecifictokens"
        ],
        "security": [
          {
            "oauth2_implicit": [
              "user:admin"
            ]
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "200": {
            "description": "Successful invocation"
          }
        }
      }
    },
    "/api/v1/repository/{repository}/build/{build_uuid}/status": {
      "x-name": "endpoints.api.build.RepositoryBuildStatus",
      "x-path": "/api/v1/repository/{repository}/build/{build_uuid}/status",
      "x-tag": "build",
      "parameters": [
        {
          "name": "build_uuid",
          "in": "path",
          "required": true,
          "description": "The UUID of the build",
          "type": "string"
        },
        {
          "name": "repository",
          "in": "path",
          "required": true,
          "description": "The full path of the repository. e.g. namespace/name",
          "type": "string"
        }
      ],
      "get": {
        "operationId": "getRepoBuildStatus",
        "parameters": [
          {
            "name": "build_uuid",
            "in": "path",
            "required": true,
            "description": "The UUID of the build",
            "type": "string"
          },
          {
            "name": "repository",
            "in": "path",
            "required": true,
            "description": "The full path of the repository. e.g. namespace/name",
            "type": "string"
          }
        ],
        "description": "Return the status for the builds specified by the build uuids.",
        "tags": [
          "build"
        ],
        "security": [
          {
            "oauth2_implicit": [
              "repo:read"
            ]
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "200": {
            "description": "Successful invocation"
          }
        }
      }
    },
    "/api/v1/repository/{repository}/build/{build_uuid}/logs": {
      "x-name": "endpoints.api.build.RepositoryBuildLogs",
      "x-path": "/api/v1/repository/{repository}/build/{build_uuid}/logs",
      "x-tag": "build",
      "parameters": [
        {
          "name": "build_uuid",
          "in": "path",
          "required": true,
          "description": "The UUID of the build",
          "type": "string"
        },
        {
          "name": "repository",
          "in": "path",
          "required": true,
          "description": "The full path of the repository. e.g. namespace/name",
          "type": "string"
        }
      ],
      "get": {
        "operationId": "getRepoBuildLogs",
        "parameters": [
          {
            "name": "build_uuid",
            "in": "path",
            "required": true,
            "description": "The UUID of the build",
            "type": "string"
          },
          {
            "name": "repository",
            "in": "path",
            "required": true,
            "description": "The full path of the repository. e.g. namespace/name",
            "type": "string"
          }
        ],
        "description": "Return the build logs for the build specified by the build uuid.",
        "tags": [
          "build"
        ],
        "security": [
          {
            "oauth2_implicit": [
              "repo:read"
            ]
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "200": {
            "description": "Successful invocation"
          }
        }
      }
    },
    "/api/v1/repository/{repository}/build/{build_uuid}": {
      "x-name": "endpoints.api.build.RepositoryBuildResource",
      "x-path": "/api/v1/repository/{repository}/build/{build_uuid}",
      "x-tag": "build",
      "parameters": [
        {
          "name": "build_uuid",
          "in": "path",
          "required": true,
          "description": "The UUID of the build",
          "type": "string"
        },
        {
          "name": "repository",
          "in": "path",
          "required": true,
          "description": "The full path of the repository. e.g. namespace/name",
          "type": "string"
        }
      ],
      "delete": {
        "operationId": "cancelRepoBuild",
        "parameters": [
          {
            "name": "build_uuid",
            "in": "path",
            "required": true,
            "description": "The UUID of the build",
            "type": "string"
          },
          {
            "name": "repository",
            "in": "path",
            "required": true,
            "description": "The full path of the repository. e.g. namespace/name",
            "type": "string"
          }
        ],
        "description": "Cancels a repository build.",
        "tags": [
          "build"
        ],
        "security": [
          {
            "oauth2_implicit": [
              "repo:admin"
            ]
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "204": {
            "description": "Deleted"
          }
        }
      },
      "get": {
        "operationId": "getRepoBuild",
        "parameters": [
          {
            "name": "build_uuid",
            "in": "path",
            "required": true,
            "description": "The UUID of the build",
            "type": "string"
          },
          {
            "name": "repository",
            "in": "path",
            "required": true,
            "description": "The full path of the repository. e.g. namespace/name",
            "type": "string"
          }
        ],
        "description": "Returns information about a build.",
        "tags": [
          "build"
        ],
        "security": [
          {
            "oauth2_implicit": [
              "repo:read"
            ]
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "200": {
            "description": "Successful invocation"
          }
        }
      }
    },
    "/api/v1/repository/{repository}/build/": {
      "x-name": "endpoints.api.build.RepositoryBuildList",
      "x-path": "/api/v1/repository/{repository}/build/",
      "x-tag": "build",
      "parameters": [
        {
          "name": "repository",
          "in": "path",
          "required": true,
          "description": "The full path of the repository. e.g. namespace/name",
          "type": "string"
        }
      ],
      "post": {
        "operationId": "requestRepoBuild",
        "parameters": [
          {
            "name": "repository",
            "in": "path",
            "required": true,
            "description": "The full path of the repository. e.g. namespace/name",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Request body contents.",
            "schema": {
              "$ref": "#/definitions/RepositoryBuildRequest"
            }
          }
        ],
        "description": "Request that a repository be built and pushed from the specified input.",
        "tags": [
          "build"
        ],
        "security": [
          {
            "oauth2_implicit": [
              "repo:write"
            ]
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "201": {
            "description": "Successful creation"
          }
        }
      },
      "get": {
        "operationId": "getRepoBuilds",
        "parameters": [
          {
            "name": "repository",
            "in": "path",
            "required": true,
            "description": "The full path of the repository. e.g. namespace/name",
            "type": "string"
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "description": "Returns all builds since the given unix timecode",
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "The maximum number of builds to return",
            "type": "integer"
          }
        ],
        "description": "Get the list of repository builds.",
        "tags": [
          "build"
        ],
        "security": [
          {
            "oauth2_implicit": [
              "repo:read"
            ]
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "200": {
            "description": "Successful invocation"
          }
        }
      }
    },
    "/api/v1/discovery": {
      "x-name": "endpoints.api.discovery.DiscoveryResource",
      "x-path": "/api/v1/discovery",
      "x-tag": "discovery",
      "get": {
        "operationId": "discovery",
        "parameters": [
          {
            "name": "internal",
            "in": "query",
            "required": false,
            "description": "Whether to include internal APIs.",
            "type": "boolean"
          }
        ],
        "description": "List all of the API endpoints available in the swagger API format.",
        "tags": [
          "discovery"
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "200": {
            "description": "Successful invocation"
          }
        }
      }
    },
    "/api/v1/error/{error_type}": {
      "x-name": "endpoints.api.error.Error",
      "x-path": "/api/v1/error/{error_type}",
      "x-tag": "error",
      "parameters": [
        {
          "name": "error_type",
          "in": "path",
          "required": true,
          "description": "The error code identifying the type of error.",
          "type": "string"
        }
      ],
      "get": {
        "operationId": "getErrorDescription",
        "parameters": [
          {
            "name": "error_type",
            "in": "path",
            "required": true,
            "description": "The error code identifying the type of error.",
            "type": "string"
          }
        ],
        "description": "Get a detailed description of the error.",
        "tags": [
          "error"
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "200": {
            "description": "Successful invocation",
            "schema": {
              "$ref": "#/definitions/ApiErrorDescription"
            }
          }
        }
      }
    },
    "/api/v1/messages": {
      "x-name": "endpoints.api.globalmessages.GlobalUserMessages",
      "x-path": "/api/v1/messages",
      "x-tag": "globalmessages",
      "post": {
        "operationId": "createGlobalMessage",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Request body contents.",
            "schema": {
              "$ref": "#/definitions/CreateMessage"
            }
          }
        ],
        "description": "Create a message.",
        "tags": [
          "globalmessages"
        ],
        "security": [
          {
            "oauth2_implicit": [
              "super:user"
            ]
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "201": {
            "description": "Successful creation"
          }
        }
      },
      "get": {
        "operationId": "getGlobalMessages",
        "parameters": [],
        "description": "Return a super users messages.",
        "tags": [
          "globalmessages"
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "200": {
            "description": "Successful invocation"
          }
        }
      }
    },
    "/api/v1/message/{uuid}": {
      "x-name": "endpoints.api.globalmessages.GlobalUserMessage",
      "x-path": "/api/v1/message/{uuid}",
      "x-tag": "globalmessages",
      "delete": {
        "operationId": "deleteGlobalMessage",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "",
            "type": "string"
          }
        ],
        "description": "Delete a message.",
        "tags": [
          "globalmessages"
        ],
        "security": [
          {
            "oauth2_implicit": [
              "super:user"
            ]
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "204": {
            "description": "Deleted"
          }
        }
      }
    },
    "/api/v1/user/aggregatelogs": {
      "x-name": "endpoints.api.logs.UserAggregateLogs",
      "x-path": "/api/v1/user/aggregatelogs",
      "x-tag": "logs",
      "get": {
        "operationId": "getAggregateUserLogs",
        "parameters": [
          {
            "name": "performer",
            "in": "query",
            "required": false,
            "description": "Username for which to filter logs.",
            "type": "string"
          },
          {
            "name": "endtime",
            "in": "query",
            "required": false,
            "description": "Latest time for logs. Format: \"%m/%d/%Y\" in UTC.",
            "type": "string"
          },
          {
            "name": "starttime",
            "in": "query",
            "required": false,
            "description": "Earliest time for logs. Format: \"%m/%d/%Y\" in UTC.",
            "type": "string"
          }
        ],
        "description": "Returns the aggregated logs for the current user.",
        "tags": [
          "logs"
        ],
        "security": [
          {
            "oauth2_implicit": [
              "user:admin"
            ]
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "200": {
            "description": "Successful invocation"
          }
        }
      }
    },
    "/api/v1/user/exportlogs": {
      "x-name": "endpoints.api.logs.ExportUserLogs",
      "x-path": "/api/v1/user/exportlogs",
      "x-tag": "logs",
      "post": {
        "operationId": "exportUserLogs",
        "parameters": [
          {
            "name": "endtime",
            "in": "query",
            "required": false,
            "description": "Latest time for logs. Format: \"%m/%d/%Y\" in UTC.",
            "type": "string"
          },
          {
            "name": "starttime",
            "in": "query",
            "required": false,
            "description": "Earliest time for logs. Format: \"%m/%d/%Y\" in UTC.",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Request body contents.",
            "schema": {
              "$ref": "#/definitions/ExportLogs"
            }
          }
        ],
        "description": "Returns the aggregated logs for the current user.",
        "tags": [
          "logs"
        ],
        "security": [
          {
            "oauth2_implicit": [
              "user:admin"
            ]
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "201": {
            "description": "Successful creation"
          }
        }
      }
    },
    "/api/v1/user/logs": {
      "x-name": "endpoints.api.logs.UserLogs",
      "x-path": "/api/v1/user/logs",
      "x-tag": "logs",
      "get": {
        "operationId": "listUserLogs",
        "parameters": [
          {
            "name": "next_page",
            "in": "query",
            "required": false,
            "description": "The page token for the next page",
            "type": "string"
          },
          {
            "name": "performer",
            "in": "query",
            "required": false,
            "description": "Username for which to filter logs.",
            "type": "string"
          },
          {
            "name": "endtime",
            "in": "query",
            "required": false,
            "description": "Latest time for logs. Format: \"%m/%d/%Y\" in UTC.",
            "type": "string"
          },
          {
            "name": "starttime",
            "in": "query",
            "required": false,
            "description": "Earliest time for logs. Format: \"%m/%d/%Y\" in UTC.",
            "type": "string"
          }
        ],
        "description": "List the logs for the current user.",
        "tags": [
          "logs"
        ],
        "security": [
          {
            "oauth2_implicit": [
              "user:admin"
            ]
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "200": {
            "description": "Successful invocation"
          }
        }
      }
    },
    "/api/v1/organization/{orgname}/aggregatelogs": {
      "x-name": "endpoints.api.logs.OrgAggregateLogs",
      "x-path": "/api/v1/organization/{orgname}/aggregatelogs",
      "x-tag": "logs",
      "parameters": [
        {
          "name": "orgname",
          "in": "path",
          "required": true,
          "description": "The name of the organization",
          "type": "string"
        }
      ],
      "get": {
        "operationId": "getAggregateOrgLogs",
        "parameters": [
          {
            "name": "orgname",
            "in": "path",
            "required": true,
            "description": "The name of the organization",
            "type": "string"
          },
          {
            "name": "performer",
            "in": "query",
            "required": false,
            "description": "Username for which to filter logs.",
            "type": "string"
          },
          {
            "name": "endtime",
            "in": "query",
            "required": false,
            "description": "Latest time for logs. Format: \"%m/%d/%Y\" in UTC.",
            "type": "string"
          },
          {
            "name": "starttime",
            "in": "query",
            "required": false,
            "description": "Earliest time for logs. Format: \"%m/%d/%Y\" in UTC.",
            "type": "string"
          }
        ],
        "description": "Gets the aggregated logs for the specified organization.",
        "tags": [
          "logs"
        ],
        "security": [
          {
            "oauth2_implicit": [
              "org:admin"
            ]
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "200": {
            "description": "Successful invocation"
          }
        }
      }
    },
    "/api/v1/organization/{orgname}/exportlogs": {
      "x-name": "endpoints.api.logs.ExportOrgLogs",
      "x-path": "/api/v1/organization/{orgname}/exportlogs",
      "x-tag": "logs",
      "parameters": [
        {
          "name": "orgname",
          "in": "path",
          "required": true,
          "description": "The name of the organization",
          "type": "string"
        }
      ],
      "post": {
        "operationId": "exportOrgLogs",
        "parameters": [
          {
            "name": "orgname",
            "in": "path",
            "required": true,
            "description": "The name of the organization",
            "type": "string"
          },
          {
            "name": "endtime",
            "in": "query",
            "required": false,
            "description": "Latest time for logs. Format: \"%m/%d/%Y\" in UTC.",
            "type": "string"
          },
          {
            "name": "starttime",
            "in": "query",
            "required": false,
            "description": "Earliest time for logs. Format: \"%m/%d/%Y\" in UTC.",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Request body contents.",
            "schema": {
              "$ref": "#/definitions/ExportLogs"
            }
          }
        ],
        "description": "Exports the logs for the specified organization.",
        "tags": [
          "logs"
        ],
        "security": [
          {
            "oauth2_implicit": [
              "org:admin"
            ]
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "201": {
            "description": "Successful creation"
          }
        }
      }
    },
    "/api/v1/organization/{orgname}/logs": {
      "x-name": "endpoints.api.logs.OrgLogs",
      "x-path": "/api/v1/organization/{orgname}/logs",
      "x-tag": "logs",
      "parameters": [
        {
          "name": "orgname",
          "in": "path",
          "required": true,
          "description": "The name of the organization",
          "type": "string"
        }
      ],
      "get": {
        "operationId": "listOrgLogs",
        "parameters": [
          {
            "name": "orgname",
            "in": "path",
            "required": true,
            "description": "The name of the organization",
            "type": "string"
          },
          {
            "name": "next_page",
            "in": "query",
            "required": false,
            "description": "The page token for the next page",
            "type": "string"
          },
          {
            "name": "performer",
            "in": "query",
            "required": false,
            "description": "Username for which to filter logs.",
            "type": "string"
          },
          {
            "name": "endtime",
            "in": "query",
            "required": false,
            "description": "Latest time for logs. Format: \"%m/%d/%Y\" in UTC.",
            "type": "string"
          },
          {
            "name": "starttime",
            "in": "query",
            "required": false,
            "description": "Earliest time for logs. Format: \"%m/%d/%Y\" in UTC.",
            "type": "string"
          }
        ],
        "description": "List the logs for the specified organization.",
        "tags": [
          "logs"
        ],
        "security": [
          {
            "oauth2_implicit": [
              "org:admin"
            ]
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "200": {
            "description": "Successful invocation"
          }
        }
      }
    },
    "/api/v1/repository/{repository}/aggregatelogs": {
      "x-name": "endpoints.api.logs.RepositoryAggregateLogs",
      "x-path": "/api/v1/repository/{repository}/aggregatelogs",
      "x-tag": "logs",
      "parameters": [
        {
          "name": "repository",
          "in": "path",
          "required": true,
          "description": "The full path of the repository. e.g. namespace/name",
          "type": "string"
        }
      ],
      "get": {
        "operationId": "getAggregateRepoLogs",
        "parameters": [
          {
            "name": "repository",
            "in": "path",
            "required": true,
            "description": "The full path of the repository. e.g. namespace/name",
            "type": "string"
          },
          {
            "name": "endtime",
            "in": "query",
            "required": false,
            "description": "Latest time for logs. Format: \"%m/%d/%Y\" in UTC.",
            "type": "string"
          },
          {
            "name": "starttime",
            "in": "query",
            "required": false,
            "description": "Earliest time for logs. Format: \"%m/%d/%Y\" in UTC.",
            "type": "string"
          }
        ],
        "description": "Returns the aggregated logs for the specified repository.",
        "tags": [
          "logs"
        ],
        "security": [
          {
            "oauth2_implicit": [
              "repo:admin"
            ]
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "200": {
            "description": "Successful invocation"
          }
        }
      }
    },
    "/api/v1/repository/{repository}/exportlogs": {
      "x-name": "endpoints.api.logs.ExportRepositoryLogs",
      "x-path": "/api/v1/repository/{repository}/exportlogs",
      "x-tag": "logs",
      "parameters": [
        {
          "name": "repository",
          "in": "path",
          "required": true,
          "description": "The full path of the repository. e.g. namespace/name",
          "type": "string"
        }
      ],
      "post": {
        "operationId": "exportRepoLogs",
        "parameters": [
          {
            "name": "repository",
            "in": "path",
            "required": true,
            "description": "The full path of the repository. e.g. namespace/name",
            "type": "string"
          },
          {
            "name": "endtime",
            "in": "query",
            "required": false,
            "description": "Latest time for logs. Format: \"%m/%d/%Y\" in UTC.",
            "type": "string"
          },
          {
            "name": "starttime",
            "in": "query",
            "required": false,
            "description": "Earliest time for logs. Format: \"%m/%d/%Y\" in UTC.",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Request body contents.",
            "schema": {
              "$ref": "#/definitions/ExportLogs"
            }
          }
        ],
        "description": "Queues an export of the logs for the specified repository.",
        "tags": [
          "logs"
        ],
        "security": [
          {
            "oauth2_implicit": [
              "repo:admin"
            ]
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "201": {
            "description": "Successful creation"
          }
        }
      }
    },
    "/api/v1/repository/{repository}/logs": {
      "x-name": "endpoints.api.logs.RepositoryLogs",
      "x-path": "/api/v1/repository/{repository}/logs",
      "x-tag": "logs",
      "parameters": [
        {
          "name": "repository",
          "in": "path",
          "required": true,
          "description": "The full path of the repository. e.g. namespace/name",
          "type": "string"
        }
      ],
      "get": {
        "operationId": "listRepoLogs",
        "parameters": [
          {
            "name": "repository",
            "in": "path",
            "required": true,
            "description": "The full path of the repository. e.g. namespace/name",
            "type": "string"
          },
          {
            "name": "next_page",
            "in": "query",
            "required": false,
            "description": "The page token for the next page",
            "type": "string"
          },
          {
            "name": "endtime",
            "in": "query",
            "required": false,
            "description": "Latest time for logs. Format: \"%m/%d/%Y\" in UTC.",
            "type": "string"
          },
          {
            "name": "starttime",
            "in": "query",
            "required": false,
            "description": "Earliest time for logs. Format: \"%m/%d/%Y\" in UTC.",
            "type": "string"
          }
        ],
        "description": "List the logs for the specified repository.",
        "tags": [
          "logs"
        ],
        "security": [
          {
            "oauth2_implicit": [
              "repo:admin"
            ]
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "200": {
            "description": "Successful invocation"
          }
        }
      }
    },
    "/api/v1/repository/{repository}/manifest/{manifestref}/labels/{labelid}": {
      "x-name": "endpoints.api.manifest.ManageRepositoryManifestLabel",
      "x-path": "/api/v1/repository/{repository}/manifest/{manifestref}/labels/{labelid}",
      "x-tag": "manifest",
      "parameters": [
        {
          "name": "labelid",
          "in": "path",
          "required": true,
          "description": "The ID of the label",
          "type": "string"
        },
        {
          "name": "manifestref",
          "in": "path",
          "required": true,
          "description": "The digest of the manifest",
          "type": "string"
        },
        {
          "name": "repository",
          "in": "path",
          "required": true,
          "description": "The full path of the repository. e.g. namespace/name",
          "type": "string"
        }
      ],
      "delete": {
        "operationId": "deleteManifestLabel",
        "parameters": [
          {
            "name": "labelid",
            "in": "path",
            "required": true,
            "description": "The ID of the label",
            "type": "string"
          },
          {
            "name": "manifestref",
            "in": "path",
            "required": true,
            "description": "The digest of the manifest",
            "type": "string"
          },
          {
            "name": "repository",
            "in": "path",
            "required": true,
            "description": "The full path of the repository. e.g. namespace/name",
            "type": "string"
          }
        ],
        "description": "Deletes an existing label from a manifest.",
        "tags": [
          "manifest"
        ],
        "security": [
          {
            "oauth2_implicit": [
              "repo:write"
            ]
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "204": {
            "description": "Deleted"
          }
        }
      },
      "get": {
        "operationId": "getManifestLabel",
        "parameters": [
          {
            "name": "labelid",
            "in": "path",
            "required": true,
            "description": "The ID of the label",
            "type": "string"
          },
          {
            "name": "manifestref",
            "in": "path",
            "required": true,
            "description": "The digest of the manifest",
            "type": "string"
          },
          {
            "name": "repository",
            "in": "path",
            "required": true,
            "description": "The full path of the repository. e.g. namespace/name",
            "type": "string"
          }
        ],
        "description": "Retrieves the label with the specific ID under the manifest.",
        "tags": [
          "manifest"
        ],
        "security": [
          {
            "oauth2_implicit": [
              "repo:read"
            ]
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "200": {
            "description": "Successful invocation"
          }
        }
      }
    },
    "/api/v1/repository/{repository}/manifest/{manifestref}/labels": {
      "x-name": "endpoints.api.manifest.RepositoryManifestLabels",
      "x-path": "/api/v1/repository/{repository}/manifest/{manifestref}/labels",
      "x-tag": "manifest",
      "parameters": [
        {
          "name": "manifestref",
          "in": "path",
          "required": true,
          "description": "The digest of the manifest",
          "type": "string"
        },
        {
          "name": "repository",
          "in": "path",
          "required": true,
          "description": "The full path of the repository. e.g. namespace/name",
          "type": "string"
        }
      ],
      "post": {
        "operationId": "addManifestLabel",
        "parameters": [
          {
            "name": "manifestref",
            "in": "path",
            "required": true,
            "description": "The digest of the manifest",
            "type": "string"
          },
          {
            "name": "repository",
            "in": "path",
            "required": true,
            "description": "The full path of the repository. e.g. namespace/name",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Request body contents.",
            "schema": {
              "$ref": "#/definitions/AddLabel"
            }
          }
        ],
        "description": "Adds a new label into the tag manifest.",
        "tags": [
          "manifest"
        ],
        "security": [
          {
            "oauth2_implicit": [
              "repo:write"
            ]
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "201": {
            "description": "Successful creation"
          }
        }
      },
      "get": {
        "operationId": "listManifestLabels",
        "parameters": [
          {
            "name": "manifestref",
            "in": "path",
            "required": true,
            "description": "The digest of the manifest",
            "type": "string"
          },
          {
            "name": "repository",
            "in": "path",
            "required": true,
            "description": "The full path of the repository. e.g. namespace/name",
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "If specified, only labels matching the given prefix will be returned",
            "type": "string"
          }
        ],
        "description": "",
        "tags": [
          "manifest"
        ],
        "security": [
          {
            "oauth2_implicit": [
              "repo:read"
            ]
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "200": {
            "description": "Successful invocation"
          }
        }
      }
    },
    "/api/v1/repository/{repository}/manifest/{manifestref}": {
      "x-name": "endpoints.api.manifest.RepositoryManifest",
      "x-path": "/api/v1/repository/{repository}/manifest/{manifestref}",
      "x-tag": "manifest",
      "parameters": [
        {
          "name": "manifestref",
          "in": "path",
          "required": true,
          "description": "The digest of the manifest",
          "type": "string"
        },
        {
          "name": "repository",
          "in": "path",
          "required": true,
          "description": "The full path of the repository. e.g. namespace/name",
          "type": "string"
        }
      ],
      "get": {
        "operationId": "getRepoManifest",
        "parameters": [
          {
            "name": "manifestref",
            "in": "path",
            "required": true,
            "description": "The digest of the manifest",
            "type": "string"
          },
          {
            "name": "repository",
            "in": "path",
            "required": true,
            "description": "The full path of the repository. e.g. namespace/name",
            "type": "string"
          }
        ],
        "description": "",
        "tags": [
          "manifest"
        ],
        "security": [
          {
            "oauth2_implicit": [
              "repo:read"
            ]
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "200": {
            "description": "Successful invocation"
          }
        }
      }
    },
    "/api/v1/organization/": {
      "x-name": "endpoints.api.organization.OrganizationList",
      "x-path": "/api/v1/organization/",
      "x-tag": "organization",
      "post": {
        "operationId": "createOrganization",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Request body contents.",
            "schema": {
              "$ref": "#/definitions/NewOrg"
            }
          }
        ],
        "description": "Create a new organization.",
        "tags": [
          "organization"
        ],
        "security": [
          {
            "oauth2_implicit": [
              "user:admin"
            ]
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "201": {
            "description": "Successful creation"
          }
        }
      }
    },
    "/api/v1/organization/{orgname}/collaborators": {
      "x-name": "endpoints.api.organization.OrganizationCollaboratorList",
      "x-path": "/api/v1/organization/{orgname}/collaborators",
      "x-tag": "organization",
      "parameters": [
        {
          "name": "orgname",
          "in": "path",
          "required": true,
          "description": "The name of the organization",
          "type": "string"
        }
      ],
      "get": {
        "operationId": "getOrganizationCollaborators",
        "parameters": [
          {
            "name": "orgname",
            "in": "path",
            "required": true,
            "description": "The name of the organization",
            "type": "string"
          }
        ],
        "description": "List outside collaborators of the specified organization.",
        "tags": [
          "organization"
        ],
        "security": [
          {
            "oauth2_implicit": [
              "org:admin"
            ]
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "200": {
            "description": "Successful invocation"
          }
        }
      }
    },
    "/api/v1/organization/{orgname}/applications/{client_id}": {
      "x-name": "endpoints.api.organization.OrganizationApplicationResource",
      "x-path": "/api/v1/organization/{orgname}/applications/{client_id}",
      "x-tag": "organization",
      "parameters": [
        {
          "name": "client_id",
          "in": "path",
          "required": true,
          "description": "The OAuth client ID",
          "type": "string"
        },
        {
          "name": "orgname",
          "in": "path",
          "required": true,
          "description": "The name of the organization",
          "type": "string"
        }
      ],
      "delete": {
        "operationId": "deleteOrganizationApplication",
        "parameters": [
          {
            "name": "orgname",
            "in": "path",
            "required": true,
            "description": "The name of the organization",
            "type": "string"
          },
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "description": "The OAuth client ID",
            "type": "string"
          }
        ],
        "description": "Deletes the application under this organization.",
        "tags": [
          "organization"
        ],
        "security": [
          {
            "oauth2_implicit": [
              "org:admin"
            ]
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "204": {
            "description": "Deleted"
          }
        }
      },
      "put": {
        "operationId": "updateOrganizationApplication",
        "parameters": [
          {
            "name": "orgname",
            "in": "path",
            "required": true,
            "description": "The name of the organization",
            "type": "string"
          },
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "description": "The OAuth client ID",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Request body contents.",
            "schema": {
              "$ref": "#/definitions/UpdateApp"
            }
          }
        ],
        "description": "Updates an application under this organization.",
        "tags": [
          "organization"
        ],
        "security": [
          {
            "oauth2_implicit": [
              "org:admin"
            ]
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "200": {
            "description": "Successful invocation"
          }
        }
      },
      "get": {
        "operationId": "getOrganizationApplication",
        "parameters": [
          {
            "name": "orgname",
            "in": "path",
            "required": true,
            "description": "The name of the organization",
            "type": "string"
          },
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "description": "The OAuth client ID",
            "type": "string"
          }
        ],
        "description": "Retrieves the application with the specified client_id under the specified organization.",
        "tags": [
          "organization"
        ],
        "security": [
          {
            "oauth2_implicit": [
              "org:admin"
            ]
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "200": {
            "description": "Successful invocation"
          }
        }
      }
    },
    "/api/v1/organization/{orgname}/applications": {
      "x-name": "endpoints.api.organization.OrganizationApplications",
      "x-path": "/api/v1/organization/{orgname}/applications",
      "x-tag": "organization",
      "parameters": [
        {
          "name": "orgname",
          "in": "path",
          "required": true,
          "description": "The name of the organization",
          "type": "string"
        }
      ],
      "post": {
        "operationId": "createOrganizationApplication",
        "parameters": [
          {
            "name": "orgname",
            "in": "path",
            "required": true,
            "description": "The name of the organization",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Request body contents.",
            "schema": {
              "$ref": "#/definitions/NewApp"
            }
          }
        ],
        "description": "Creates a new application under this organization.",
        "tags": [
          "organization"
        ],
        "security": [
          {
            "oauth2_implicit": [
              "org:admin"
            ]
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "201": {
            "description": "Successful creation"
          }
        }
      },
      "get": {
        "operationId": "getOrganizationApplications",
        "parameters": [
          {
            "name": "orgname",
            "in": "path",
            "required": true,
            "description": "The name of the organization",
            "type": "string"
          }
        ],
        "description": "List the applications for the specified organization.",
        "tags": [
          "organization"
        ],
        "security": [
          {
            "oauth2_implicit": [
              "org:admin"
            ]
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "200": {
            "description": "Successful invocation"
          }
        }
      }
    },
    "/api/v1/organization/{orgname}/members/{membername}": {
      "x-name": "endpoints.api.organization.OrganizationMember",
      "x-path": "/api/v1/organization/{orgname}/members/{membername}",
      "x-tag": "organization",
      "parameters": [
        {
          "name": "membername",
          "in": "path",
          "required": true,
          "description": "The username of the organization member",
          "type": "string"
        },
        {
          "name": "orgname",
          "in": "path",
          "required": true,
          "description": "The name of the organization",
          "type": "string"
        }
      ],
      "delete": {
        "operationId": "removeOrganizationMember",
        "parameters": [
          {
            "name": "orgname",
            "in": "path",
            "required": true,
            "description": "The name of the organization",
            "type": "string"
          },
          {
            "name": "membername",
            "in": "path",
            "required": true,
            "description": "The username of the organization member",
            "type": "string"
          }
        ],
        "description": "Removes a member from an organization, revoking all its repository priviledges and removing\n        it from all teams in the organization.",
        "tags": [
          "organization"
        ],
        "security": [
          {
            "oauth2_implicit": [
              "org:admin"
            ]
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "204": {
            "description": "Deleted"
          }
        }
      },
      "get": {
        "operationId": "getOrganizationMember",
        "parameters": [
          {
            "name": "orgname",
            "in": "path",
            "required": true,
            "description": "The name of the organization",
            "type": "string"
          },
          {
            "name": "membername",
            "in": "path",
            "required": true,
            "description": "The username of the organization member",
            "type": "string"
          }
        ],
        "description": "Retrieves the details of a member of the organization.",
        "tags": [
          "organization"
        ],
        "security": [
          {
            "oauth2_implicit": [
              "org:admin"
            ]
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "200": {
            "description": "Successful invocation"
          }
        }
      }
    },
    "/api/v1/organization/{orgname}/members": {
      "x-name": "endpoints.api.organization.OrganizationMemberList",
      "x-path": "/api/v1/organization/{orgname}/members",
      "x-tag": "organization",
      "parameters": [
        {
          "name": "orgname",
          "in": "path",
          "required": true,
          "description": "The name of the organization",
          "type": "string"
        }
      ],
      "get": {
        "operationId": "getOrganizationMembers",
        "parameters": [
          {
            "name": "orgname",
            "in": "path",
            "required": true,
            "description": "The name of the organization",
            "type": "string"
          }
        ],
        "description": "List the human members of the specified organization.",
        "tags": [
          "organization"
        ],
        "security": [
          {
            "oauth2_implicit": [
              "org:admin"
            ]
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "200": {
            "description": "Successful invocation"
          }
        }
      }
    },
    "/api/v1/organization/{orgname}": {
      "x-name": "endpoints.api.organization.Organization",
      "x-path": "/api/v1/organization/{orgname}",
      "x-tag": "organization",
      "parameters": [
        {
          "name": "orgname",
          "in": "path",
          "required": true,
          "description": "The name of the organization",
          "type": "string"
        }
      ],
      "delete": {
        "operationId": "deleteAdminedOrganization",
        "parameters": [
          {
            "name": "orgname",
            "in": "path",
            "required": true,
            "description": "The name of the organization",
            "type": "string"
          }
        ],
        "description": "Deletes the specified organization.",
        "tags": [
          "organization"
        ],
        "security": [
          {
            "oauth2_implicit": [
              "org:admin"
            ]
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "204": {
            "description": "Deleted"
          }
        }
      },
      "put": {
        "operationId": "changeOrganizationDetails",
        "parameters": [
          {
            "name": "orgname",
            "in": "path",
            "required": true,
            "description": "The name of the organization",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Request body contents.",
            "schema": {
              "$ref": "#/definitions/UpdateOrg"
            }
          }
        ],
        "description": "Change the details for the specified organization.",
        "tags": [
          "organization"
        ],
        "security": [
          {
            "oauth2_implicit": [
              "org:admin"
            ]
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "200": {
            "description": "Successful invocation"
          }
        }
      },
      "get": {
        "operationId": "getOrganization",
        "parameters": [
          {
            "name": "orgname",
            "in": "path",
            "required": true,
            "description": "The name of the organization",
            "type": "string"
          }
        ],
        "description": "Get the details for the specified organization.",
        "tags": [
          "organization"
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "200": {
            "description": "Successful invocation"
          }
        }
      }
    },
    "/api/v1/app/{client_id}": {
      "x-name": "endpoints.api.organization.ApplicationInformation",
      "x-path": "/api/v1/app/{client_id}",
      "x-tag": "organization",
      "parameters": [
        {
          "name": "client_id",
          "in": "path",
          "required": true,
          "description": "The OAuth client ID",
          "type": "string"
        }
      ],
      "get": {
        "operationId": "getApplicationInformation",
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "description": "The OAuth client ID",
            "type": "string"
          }
        ],
        "description": "Get information on the specified application.",
        "tags": [
          "organization"
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "200": {
            "description": "Successful invocation"
          }
        }
      }
    },
    "/api/v1/repository/{repository}/permissions/user/{username}/transitive": {
      "x-name": "endpoints.api.permission.RepositoryUserTransitivePermission",
      "x-path": "/api/v1/repository/{repository}/permissions/user/{username}/transitive",
      "x-tag": "permission",
      "parameters": [
        {
          "name": "username",
          "in": "path",
          "required": true,
          "description": "The username of the user to which the permissions apply",
          "type": "string"
        },
        {
          "name": "repository",
          "in": "path",
          "required": true,
          "description": "The full path of the repository. e.g. namespace/name",
          "type": "string"
        }
      ],
      "get": {
        "operationId": "getUserTransitivePermission",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "description": "The username of the user to which the permissions apply",
            "type": "string"
          },
          {
            "name": "repository",
            "in": "path",
            "required": true,
            "description": "The full path of the repository. e.g. namespace/name",
            "type": "string"
          }
        ],
        "description": "Get the fetch the permission for the specified user.",
        "tags": [
          "permission"
        ],
        "security": [
          {
            "oauth2_implicit": [
              "repo:admin"
            ]
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "200": {
            "description": "Successful invocation"
          }
        }
      }
    },
    "/api/v1/repository/{repository}/permissions/user/{username}": {
      "x-name": "endpoints.api.permission.RepositoryUserPermission",
      "x-path": "/api/v1/repository/{repository}/permissions/user/{username}",
      "x-tag": "permission",
      "parameters": [
        {
          "name": "username",
          "in": "path",
          "required": true,
          "description": "The username of the user to which the permission applies",
          "type": "string"
        },
        {
          "name": "repository",
          "in": "path",
          "required": true,
          "description": "The full path of the repository. e.g. namespace/name",
          "type": "string"
        }
      ],
      "delete": {
        "operationId": "deleteUserPermissions",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "description": "The username of the user to which the permission applies",
            "type": "string"
          },
          {
            "name": "repository",
            "in": "path",
            "required": true,
            "description": "The full path of the repository. e.g. namespace/name",
            "type": "string"
          }
        ],
        "description": "Delete the permission for the user.",
        "tags": [
          "permission"
        ],
        "security": [
          {
            "oauth2_implicit": [
              "repo:admin"
            ]
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "204": {
            "description": "Deleted"
          }
        }
      },
      "put": {
        "operationId": "changeUserPermissions",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "description": "The username of the user to which the permission applies",
            "type": "string"
          },
          {
            "name": "repository",
            "in": "path",
            "required": true,
            "description": "The full path of the repository. e.g. namespace/name",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Request body contents.",
            "schema": {
              "$ref": "#/definitions/UserPermission"
            }
          }
        ],
        "description": "Update the perimssions for an existing repository.",
        "tags": [
          "permission"
        ],
        "security": [
          {
            "oauth2_implicit": [
              "repo:admin"
            ]
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "200": {
            "description": "Successful invocation"
          }
        }
      },
      "get": {
        "operationId": "getUserPermissions",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "description": "The username of the user to which the permission applies",
            "type": "string"
          },
          {
            "name": "repository",
            "in": "path",
            "required": true,
            "description": "The full path of the repository. e.g. namespace/name",
            "type": "string"
          }
        ],
        "description": "Get the permission for the specified user.",
        "tags": [
          "permission"
        ],
        "security": [
          {
            "oauth2_implicit": [
              "repo:admin"
            ]
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "200": {
            "description": "Successful invocation"
          }
        }
      }
    },
    "/api/v1/repository/{repository}/permissions/team/{teamname}": {
      "x-name": "endpoints.api.permission.RepositoryTeamPermission",
      "x-path": "/api/v1/repository/{repository}/permissions/team/{teamname}",
      "x-tag": "permission",
      "parameters": [
        {
          "name": "teamname",
          "in": "path",
          "required": true,
          "description": "The name of the team to which the permission applies",
          "type": "string"
        },
        {
          "name": "repository",
          "in": "path",
          "required": true,
          "description": "The full path of the repository. e.g. namespace/name",
          "type": "string"
        }
      ],
      "delete": {
        "operationId": "deleteTeamPermissions",
        "parameters": [
          {
            "name": "teamname",
            "in": "path",
            "required": true,
            "description": "The name of the team to which the permission applies",
            "type": "string"
          },
          {
            "name": "repository",
            "in": "path",
            "required": true,
            "description": "The full path of the repository. e.g. namespace/name",
            "type": "string"
          }
        ],
        "description": "Delete the permission for the specified team.",
        "tags": [
          "permission"
        ],
        "security": [
          {
            "oauth2_implicit": [
              "repo:admin"
            ]
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "204": {
            "description": "Deleted"
          }
        }
      },
      "put": {
        "operationId": "changeTeamPermissions",
        "parameters": [
          {
            "name": "teamname",
            "in": "path",
            "required": true,
            "description": "The name of the team to which the permission applies",
            "type": "string"
          },
          {
            "name": "repository",
            "in": "path",
            "required": true,
            "description": "The full path of the repository. e.g. namespace/name",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Request body contents.",
            "schema": {
              "$ref": "#/definitions/TeamPermission"
            }
          }
        ],
        "description": "Update the existing team permission.",
        "tags": [
          "permission"
        ],
        "security": [
          {
            "oauth2_implicit": [
              "repo:admin"
            ]
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "200": {
            "description": "Successful invocation"
          }
        }
      },
      "get": {
        "operationId": "getTeamPermissions",
        "parameters": [
          {
            "name": "teamname",
            "in": "path",
            "required": true,
            "description": "The name of the team to which the permission applies",
            "type": "string"
          },
          {
            "name": "repository",
            "in": "path",
            "required": true,
            "description": "The full path of the repository. e.g. namespace/name",
            "type": "string"
          }
        ],
        "description": "Fetch the permission for the specified team.",
        "tags": [
          "permission"
        ],
        "security": [
          {
            "oauth2_implicit": [
              "repo:admin"
            ]
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "200": {
            "description": "Successful invocation"
          }
        }
      }
    },
    "/api/v1/repository/{repository}/permissions/team/": {
      "x-name": "endpoints.api.permission.RepositoryTeamPermissionList",
      "x-path": "/api/v1/repository/{repository}/permissions/team/",
      "x-tag": "permission",
      "parameters": [
        {
          "name": "repository",
          "in": "path",
          "required": true,
          "description": "The full path of the repository. e.g. namespace/name",
          "type": "string"
        }
      ],
      "get": {
        "operationId": "listRepoTeamPermissions",
        "parameters": [
          {
            "name": "repository",
            "in": "path",
            "required": true,
            "description": "The full path of the repository. e.g. namespace/name",
            "type": "string"
          }
        ],
        "description": "List all team permission.",
        "tags": [
          "permission"
        ],
        "security": [
          {
            "oauth2_implicit": [
              "repo:admin"
            ]
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "200": {
            "description": "Successful invocation"
          }
        }
      }
    },
    "/api/v1/repository/{repository}/permissions/user/": {
      "x-name": "endpoints.api.permission.RepositoryUserPermissionList",
      "x-path": "/api/v1/repository/{repository}/permissions/user/",
      "x-tag": "permission",
      "parameters": [
        {
          "name": "repository",
          "in": "path",
          "required": true,
          "description": "The full path of the repository. e.g. namespace/name",
          "type": "string"
        }
      ],
      "get": {
        "operationId": "listRepoUserPermissions",
        "parameters": [
          {
            "name": "repository",
            "in": "path",
            "required": true,
            "description": "The full path of the repository. e.g. namespace/name",
            "type": "string"
          }
        ],
        "description": "List all user permissions.",
        "tags": [
          "permission"
        ],
        "security": [
          {
            "oauth2_implicit": [
              "repo:admin"
            ]
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Session required",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "200": {
            "description": "Successful invocation"
          }
        }
      }
    },
    "/api/v1/organization/{orgname}/prototypes/{prototypeid}": {
      "x-name": "endpoints.api.prototype.PermissionPrototype",
      "x-path": "/api/v1/organization/{orgname}/prototypes/{prototypeid}",
      "x-tag": "prototype",
      "parameters": [
        {
          "name": "prototypeid",
          "in": "path",
          "required": true,
[...]
